<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref="/detachments"></ion-back-button>
        </ion-buttons>
        <ion-title>Detachment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="(detachment$ | async) as detachment; else loading">
        <ion-list>
            <ion-list-header>
                <ion-label>
                    {{ detachment.name }}
                    <ion-note>#{{ detachment.detachmentId }}</ion-note>
                    <p>{{ detachment.url }}</p>
                </ion-label>
            </ion-list-header>
            <ion-item-group>
                <ion-item-divider sticky="true">Officers</ion-item-divider>
                <ion-item *ngFor="let officer of detachment.officers" [routerLink]="['/member', officer.legionId]">
                    <ion-img slot="start" [src]="officer.primaryThumbnail" class="start-img"></ion-img>
                    <ion-label>
                        {{ officer.fullName }}
                        <ion-note>{{ officer.formattedLegionId | htmlDecode }}</ion-note>
                        <p>{{ officer.office }} ({{ officer.officeAcronym }})</p>
                    </ion-label>
                    <ion-button slot="end" size="large" shape="round" fill="clear" color="dark" ref="nofollow noopener"
                        target="_blank" [href]="officer.profileUrl">
                        <ion-icon slot="icon-only" name="globe"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </ng-container>
    <ng-template #loading>
        <ion-list>
            <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <ion-spinner slot="start" name="circles" class="start-img"></ion-spinner>
                <ion-label>
                    <ion-skeleton-text animated style="height:16px; width:300px"></ion-skeleton-text>
                    <p>
                        <ion-skeleton-text animated style="width:70px"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>